@media all and (max-width: 1100px) {
	/*NAVIGATION MENU*/
	.container_navigation_menu {
		width: 40%;
	}

	/*FILTERS*/
	
	.filters {
		display: flex;
		flex-direction: column;
		width: auto;
	}

	.filtering_system {
		display: flex;
		width: 100%;
		justify-content: space-between;

	}

	/* FACILITIES AND POPULAR */

	.flex_container_facilities_and_popular {
		display: flex;
		flex-direction: column;
	}

	.flex_container_facilities:nth-of-type(1) {
		order: 2;
		width: 100%;
		margin: 35px auto;
	}
	
	.flex_container_popular:nth-of-type(2) {
		order: 1;
		width: 100%;
		padding: 0 0 35px;
		margin: auto;
		align-content: flex-start;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.media_adjust {
		display: flex;
		justify-content: space-between;
	}

	.headline_popular {
		align-content: baseline;
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: baseline;
	}
	.fa-chart-line {
		font-size: 30px;
		margin: 20px;
	}

	.figure_facilities_popular {
		width: 30%;
		height: 100%;
		max-height: 150px;
	}

	.imgd {
		height: 100%;
		width: 55%;
		border-radius: 20px 0 0 20px;
	}

}

@media all and (max-width: 450px) {
	
	body {
		width: 100%;
		border: solid;
	}
	
	
	/* NAVIGATION MENU*/

	.nav {
		display: none;
	}

	.header_media {
		display: flex;
		flex-direction: column;
	}

	.nav_media {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		padding-bottom: 0px;
		width: 100%;	
	}

	#sinscrire {
		padding-bottom: 15px;
		font-weight: bold;
		text-decoration: none;
	}

	#sinscrire:visited {
		padding-bottom: 15px;
		font-weight: bold;
		text-decoration: none;
	}



}
