@media all and (max-width: 980px) {

	html {
		max-width: 465px;
		margin: auto;
	}
	body {
	}

	main {
		width: 100%;
		justify-content: center;	
	}

	.media_margin {	
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}

	.recherche {
		display: flex;
		flex-direction: column;
	}


	.nav {
		display: none;
	}

	.header_media {
		display: flex;
		flex-direction: column;
	}

	.nav_media {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		padding-bottom: 0px;
		width: 100%;	
	}

	#sinscrire {
		padding-bottom: 15px;
		font-weight: bold;
		text-decoration: none;
	}

	#sinscrire:visited {
		padding-bottom: 15px;
		font-weight: bold;
		text-decoration: none;
	}

	.reservia_logo {
		
	}

	.hebact_media {
		display: flex;
		justify-content: space-between;
		width: 100%;

		
	}

	.ha {
		text-align: center;
		width: 50%;
		padding-bottom: 10px;
		text-decoration: none;
		margin-top: 25px;
		
	}



	.ha:hover {
		text-align: center;
		width: 50%;
		padding-bottom: 10px;
		border-bottom: solid #0065FC;
		font-weight: bold;
		
	}

	.ha:visited {
		text-decoration: none;
		color: #0065FC;
	}

	.recherche {
		display: flex;
		align-items: center;
	}

	h1 {
		text-align: center;
		font-weight: bold;
		width: 90%;
		font-size: 1.5em;
		text-align: center;
		
	}

	
	.barre_recherche {
		display: none;
	}

	.barre_recherche_media {
		display: block;
	}

	

	button {
		font-size: 1em;
		color: white;
		font-weight: bold;
		background-color: #0065FC;
		border-color: #0065FC;
		border-radius: 10px 10px 10px 10px;
	  	border-style: solid;
	  	padding: 10px;
	}

	label {
		display: flex; /* cette ligne fait en sorte que les boites ont la même épaisseur */
	  	align-items: center;
	  	padding-top: 11px;
	  	padding-bottom: 11px;
	  	
	}

	input {
		border-color: #F2F2F2 #0065FC #F2F2F2 none;
		border-style: solid;
		border-width: 3px;
		font-weight: bold;
		color: black;
		padding-top: 10px;
	  	padding-bottom: 10px;
	  	margin-right: -10px;
	  	margin-left: -10px;
	}

	input:active {
		border-color: #F2F2F2 #0065FC #F2F2F2 white;
		border-style: solid;
		border-width: 3px;
		font-weight: bold;
		color: black;
		padding-top: 10px;
	  	padding-bottom: 10px;
	  	margin-right: -10px;
	  	margin-left: -10px;
	}

	.filtres {
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		margin: auto;
		font-weight: bold;
		width: 90%;
		align-content: center;
		/*how to make the whole block go in the middle?*/
		
	}


	.filtres_media {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 90%;
		justify-content: space-between;

	 }

	.info {
		display: flex;
		flex-direction: row;
		width: 90%;
		margin: auto;
		margin-top: 35px;
		margin-bottom: 35px;
		justify-content: space-around;
		align-items: baseline;

	}

	.info-logo {
		border-radius: 50%;
		border: solid #F2F2F2;
		padding: 0;
	  	justify-content: center;
		color: #0065FC;
		width: 7px;
		height: 7px;
	    
	}

	em {
		font-size: 0.8em;
		font-style: normal;
	}

	 .popheb {
	 	display: flex;
	 	flex-direction: column;
	 }


	.flex-container:nth-of-type(1) {
	order: 2;
	}

	.flex-container_d:nth-of-type(2) {
	order: 1;

	 	

	}

	 #populaires {
	 	display: flex;
		flex-direction: column;
		background-color: #F2F2F2;
		border-radius: 0px;
		width: 100%;
		margin: auto;
		margin-bottom: 35px;
	 }

	 .mise_en_forme_droite {
	 	display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		border: solid white 5px;
		border-radius: 20px;
		background-color: white;
		margin: 15px;
		box-shadow: none;
	 }



	 #hebergement {
	 	background-color: white;
	 }



	 .flex-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: none;

	}

	.mise_en_forme {
		width: 100%;
		border: solid white 5px;
		border-radius: 20px;
		box-shadow: 2px 2px 25px #F2F2F2;
		margin-bottom: 35px;
		height: 50%;
	}

	img {
		height: 150px;
		width: 100%;
		border-radius: 20px 20px 0 0;

	}


	 .container_activity {
	 	width: 100%;
	 	display: flex;
	 	flex-direction: column;
	 }

	 .title2 {
	 	font-weight: bold;
	 	width: 90%;
	 	margin: auto;
	 }
	 .ROW {
		display: flex;
		flex-direction: column;
		width: 100%;
		border: none;	
	}

	.row {

		display: flex;
		flex-direction: column;
		width: 100%;
		border: none;
		justify-content: space-between;
			
	}

	.column {
		display: flex;
		flex-direction: column;
		width: 100%;
		border: none;
		justify-content: space-between;
		margin: 0;
		padding: 0;
			
	}


	.fig {
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		box-shadow: 5px 5px 5px #F2F2F2;
		width: 90%;
		margin: auto;
		margin-bottom: 35px;
		
	}

	/* padding-left: -75px;
		margin-left: -5px;
		height: 350px;*/

	.img1 {
		border-radius: 20px 20px 0 0;
		height: 150px;
		width: 100%;

	}

	.img2 {
		border-radius: 20px 20px 0 0;
		width: 100%;
		
	}

	.VP {
		font-weight: bold;
		padding-left: 20px;
	}






	footer {
		display: flex;
		flex-direction: column;
		font-size: 1em;
		width: 100%;
		margin-left: auto;

	}

	.footer {
		padding: 20px;

	}
}