/*BODY STYLES*/

body {
	font-family: 'Raleway', Comic sans MS, serif;
    font-size: 1em;
    color: black;
    background-color: white;
	margin: 0px 50px;
}

p {
	font-size: 1em;
}

.page_link {
	text-decoration: none;
	color: black;
	
}

.page_link:hover {
	font-size: 1.1em;
}

.page_link:visited {
	color: lightslategrey;
	text-decoration: none;
}

figure {
	transition: 0.5s;
}

figure:hover {
	transform: scale(1.1);
}

/*For mobiles*/

.media_navigation {
	display: none;
}

.media_search_bar {
	display: none;
}


/*******************/
/*HEADER STYLES*/

/*Navigation Menu*/
.standard_navigation {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	border-top: 30px;
	align-items: center;
}

.container_navigation_menu {
	display: flex;
	width: 33%;
	justify-content: space-between;
}

.navigation_elements {
	color: black;
	text-decoration: none;
	padding-top: 30px;
}

.navigation_elements:hover {
	border-top: solid 3px #0065FC;
	color: #0065FC;
	padding-top: 30px;
}

.navigation_elements:visited {
	border-top: solid 3px #0065FC;
	padding-top: 30px;
	color: #0065FC;
}

#signin {
	font-weight: bold;
}

.reservia_logo {
	height: 75px;
	width: 150px;
	margin-top: 30px;
	transition: 0.5s;
}

.reservia_logo:hover  {
	transform: scale(1.5);
}

/*MAIN*/

/*Headline, filters and search bar*/

.headline {
    margin: 50px 0 25px;
}

h1 {
	font-size: 1.3em;
	font-weight: bold	
}

p {
	font-size: 1em;
}

/*Search bar*/

.search_bar {
	display: flex; /* cette ligne fait en sorte que les boites ont la même épaisseur */
  	align-items: center;
  	padding-top: 10px;
  	padding-bottom: 10px;
  	
}

.fa-map-marker {
	text-align: center;
	background-color: #F2F2F2;
	border: solid #F2F2F2;
	border-radius: 10px 0px 0px 10px;
	width: 40px;
	height: 100%;
	padding: 10px 0;
	
}

input {
	border-color: #F2F2F2 #0065FC #F2F2F2 white;
	border-style: solid;
	border-width: 3px;
	font-weight: bold;
	color: black;
	padding-top: 10px;
  	padding-bottom: 10px;
}

input:active {
	border-color: #F2F2F2 #0065FC #F2F2F2 white;
	border-style: solid;
	font-weight: bold;
	color: black;
	padding-top: 10px;
  	padding-bottom: 10px;
}

button {
	font-size: 1em;
	color: white;
	font-weight: bold;
	background-color: #0065FC;
	border-color: #0065FC;
	border-radius: 0px 10px 10px 0px;
  	border-style: solid;
  	padding-top: 10px;
  	padding-bottom: 10px;
}


/*Filters*/

.filters {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 67%;
}

#to_align {
	padding: 12.5px;
	font-weight: bold;	
}

.filtering_system {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.filter_container {
    position: relative;
}

.logo {
    align-content: center;
    position: absolute;
    justify-content: center;
    bottom: 18px;
    color: #0065FC;
    background-color: #DEEBFF;
    display: flex;
    border-radius: 50%;
    padding: 13px;
    width: 15px;
    height: 15px;
    text-align: center;
}

.border_and_font {
  border: solid;
  border-color: #F2F2F2 #F2F2F2 #F2F2F2 transparent;
  border-radius: 25px 25px 25px 25px;
  padding: 10px 7px 10px 45px;
  justify-content: center;
  font-weight: bold;
  white-space: nowrap;
}

.logo:hover {
	border: solid #0065FC;
}

/*Info*/

.info {
    display: flex;
    margin: 35px 0;
    align-items: baseline;
    position: relative;
    width: fit-content;
}

.info-logo {
    justify-content: center;
    color: #0065FC;
    border: solid #F2F2F2;
    display: flex;
    border-radius: 50%;
    padding: 5px;
    width: 15px;
    height: 15px;
    text-align: left;
   
}

.sidenote_info {
	font-size: 0.8em;
	font-style: normal;
	padding: 0 15px;
}


/*******************/

/*Facility styles*/

.flex_container_facilities_and_popular {
	display: flex;
	justify-content: space-between;
	padding: 20px 0
}

.flex_container_facilities {
    display: flex;
    flex-direction: column;
    width: 65%;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.main_titles {
	font-weight: bold;
	margin-left: 25px;
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 25px;	
}

.flex_double_row_facilities {
    display: flex;
    align-items: center;
}

.figure_facilities {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 65%;
    border: solid white 5px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 20px grey;
    align-items: center;
    margin: 10px auto;
}

.img {
    height: 60%;
    max-height: 115px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin: auto;
}

.figcaption_facilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55%;
    width: 100%;
    padding-left: 10px;
}

.text {
    font-size: 0.8em;
}

strong {
	font-weight: bold;
	font-size: 1em;
}

.star_rating {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	color: #0065FC;
}

.exception {
 	color: #F2F2F2;
}

.fa-star {
	font-size: 1em;
}

.show_more:hover {
	text-decoration: underline;
	font-weight: bold;
	margin-left: 25px;
}

.show_more {
	font-weight: bold;
	margin-left: 25px;
}


/*Most popular styles*/

.flex_container_popular {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 33%;
}

.headline_popular {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 25px;
}

.fa-chart-line {
	font-size: 25px;
	margin-right: 5px;
	
}

.column_container_popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}

.figure_facilities_popular {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 25%;
    max-height: 30%;
    border: solid white 5px;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    box-shadow: 2px 2px 20px grey;
}


.imgR {
    height: 100%;
    margin: auto;
    width: 45%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.figcaption_popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    width: 55%;
    height: 100%;   
}


/*Activities Style*/

.flex_container_activity {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;   
}

.flex_activity_sub_container{
	display: flex;
	flex-direction: row;
    height: 400px;	
}

.row {
    display: flex;
    width: 50%;   
}

.column1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: flex-start;	
}

.column2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: flex-start;	
}

.figure_1 {
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    width: 80%;
    height: 100%;
    margin: 0;
	flex-direction: column;
}

.figure_2 {
    height: 45%;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
   
}

.img1 {
	border-radius: 20px 20px 0 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.img2 {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 65%;
    object-fit: cover;
}


.figcaption_activitiy {
    display: flex;
    font-weight: bold;
    padding: 5px 5px;
    margin: auto 0;
    height: 50px;
    min-height: 50px;
    align-items: center;
}


/* FOOTER STYLES*/

footer {
    display: flex;
    justify-content: space-between;
    color: black;
    width: 100%;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    padding: 20px 0;
    margin: 70px 0;
}

.footer_section {
    padding: 0 30px;
    align-items: center;
   
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
}





@media only screen and (max-width: 992px) { /*FOR TABLET SIZE 992 to 600px*/
	
    
    /*NAVIGATION MENU*/
	.container_navigation_menu {
		width: 55%;
	}


	/*FILTERS*/
	
	.filters {
		display: flex;
		flex-direction: column;
		width: auto;
	}

	.filtering_system {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-between;

	}

	/* FACILITIES AND POPULAR */

	.flex_container_facilities_and_popular {
		display: flex;
		flex-direction: column;
	}

	.flex_container_facilities:nth-of-type(1) {
		order: 2;
		width: 100%;
		margin: 35px auto;
	}
	
	.flex_container_popular:nth-of-type(2) {
		order: 1;
		width: 100%;
		padding: 0 0 15px;
		margin: auto;
		align-content: flex-start;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.column_container_popular {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		height: 200px;
	}

	.headline_popular {
		align-content: baseline;
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: baseline;
	}
	.fa-chart-line {
		font-size: 30px;
		margin: 20px;
	}

	.figure_facilities_popular {
		width: 30%;
		height: 100%;
		max-height: 150px;
	}

	.imgR {
		height: 100%;
		width: 55%;
		border-radius: 20px 0 0 20px;
	}

	.figcaption_popular {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 5px;
		width: 55%;
		height: 100%;
		padding-left: 5px;
		margin: 10px auto;
	}


	.figure_facilities {
		display: flex;
		flex-direction: column;
		width: 30%;
		height: 165px;
		border: solid white 5px;
		border-radius: 20px;
		background-color: white;
		box-shadow: 2px 2px 20px grey;
		align-items: center;
		margin: 15px auto;
	}

	/* ACTIVITIES*/

	.flex_activity_sub_container {
		display: flex;
		flex-direction: column;
		height: fit-content;
	}

	.row {
		flex-direction: column;
		width: 95%;
		margin: auto;
	}

	.column1 {
		width: 95%;
		height: fit-content;
		margin: auto;
	}

	.column2 {
		display: flex;
		flex-direction: row;
		width: 95%;
		margin: auto;
		justify-content: space-between;
	}

	.figure_1 {
		width: 100%;
		height: 250px;
		margin: 20px auto;
	}

	.figure_2 {
		width: 45%;
		height: 250px;
		;
	}

	.img1 {
		height: 75%;
	}

	.img2 {
		height: 75%;
	}

	.figcaption_activitiy {
		height: 25%;
	}
}

@media only screen and (max-width: 600px) { /*FOR PHONE 600px AND LOWER*/
	body {
		width: 100%;
		margin: auto;
	}
	/* NAVIGATION MENU*/

	.standard_navigation {
		display: none;
	}

	.media_navigation {
		display: flex;
		flex-direction: column;
	}

	.logo_and_signin_menu {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		padding-bottom: 0px;
		width: 100%;
        margin: auto;	
	}

    .logo_and_signin {
		width: fit-content;
		padding-bottom: 10px;
		margin-top: 25px;
	}

    #logo_reservia {
		width: 100px;
		margin: 10px 0 -20px 40px;
	
	}

	.signin {
		padding: 0 55px 0 15px;
		font-weight: bold;
		text-decoration: none;
		color: #0065FC;
	}

	.signin:visited {
		padding: 0 55px 0 15px;
		font-weight: bold;
		text-decoration: none;
		color: #0065FC;
	}


    

    .facilities_and_activities_menu {
		display: flex;
		justify-content: space-between;
		width: 100%;

		
	}

	.facilities_and_activities {
		text-align: center;
		width: 50%;
		padding-bottom: 10px;
		text-decoration: none;
		margin-top: 25px;
		color: #0065FC;
		
	}



	.facilities_and_activities:hover {
		text-align: center;
		width: 50%;
		padding-bottom: 10px;
		border-bottom: solid #0065FC;
		font-weight: bold;
		
	}

	.facilities_and_activities:visited {
		text-decoration: none;
		color: #0065FC;
	}

    main {
        width: 80%;
        margin: auto;
    }

    .recherche {
		display: flex;
		align-items: center;
	}

	.headline {
		text-align: center;
		font-weight: bold;
		width: 100%;
		font-size: 0.8em;
	}

    .search_bar {
        display: none;
    }


	.media_search_bar {
		display: flex;
		/* justify-content: center; */
		/* align-content: flex-start; */
		padding: 10px 0;
		/* padding-bottom: 11px; */
		width: 90%;
		margin: auto;
	}

	button {
		font-size: 1em;
		color: white;
		font-weight: bold;
		background-color: #0065FC;
		border-color: #0065FC;
		border-radius: 10px 10px 10px 10px;
		border-style: solid;
		padding: 10px;
	}

	input {
		font-weight: bold;
		color: black;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-right: -10px;
		width: 100%;
}

	input:active {
		border-color: #F2F2F2 #0065FC #F2F2F2 white;
		border-style: solid;
		border-width: 3px;
		font-weight: bold;
		color: black;
		padding-top: 10px;
	  	padding-bottom: 10px;
	  	margin-right: -10px;
	  	margin-left: -10px;
	}

	.placeholder {
		padding: 10px;

	}

    .filters {
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		margin: auto;
		font-weight: bold;
		width: 95%;
		align-content: center;
		
	}


	.filtering_system {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 90%;
		justify-content: space-between;

	 }
    
    /*POPULAR*/

     .flex_container_facilities_and_popular {
		display: flex;
		flex-direction: column;
        width: 100%;
		max-width: 400px;
    	margin: auto;
	}

	.flex_container_facilities:nth-of-type(1) {
		order: 2;
		width: 100%;
		margin: 35px auto;
	}

    .flex_container_popular:nth-of-type(2) {
		order: 1;
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;
		background-color: #F2F2F2;
		border-radius: 0px;
		width: 100%;
		height: 550px;
	}

	.column_container_popular {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 100%;
	}

    

	.figure_facilities_popular {
		width: 90%;
		height: 25%;
		margin: auto;
	}

    .imgR {
        height: 100%;
        margin: 0;
        width: 45%;
        border-radius: 20px 0 0 20px;
        object-fit: cover;
    }

    .figcaption_popular {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        width: 55%;
    }

    /*FACILITIES*/

    .flex_container_facilities {
        background: none;
    }


    .flex_double_row_facilities {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 50%;
    
    }

    .figure_facilities {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 150px;
        border: solid white 5px;
        border-radius: 20px;
        background-color: white;
        margin: 20px 20px;
        box-shadow: 2px 2px 20px grey;
        align-items: center;
    }

    .img {
        height: 55%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        margin: auto;
    }

    .figcaption_facilities {
        display: flex;
        flex-direction: column;
        height: 45%;
        width: 100%;
        padding: 10px;
        margin: auto;
    }

    /*ACTIVITIES*/

    .flex_activity_sub_container {
        flex-direction: column;
        display: flex;
		width: 95%;
        height: 50%;
		margin: auto;
		max-width: 400px;
    }

	.title2 {
		width: 95%;
		margin: auto;

	}

    .row {
        flex-direction: column;
        width: 100%;
        height: 50%;    
    }

    .column1 {
    	width: 100%;
        height: fit-content;
        align-items: center;
    }

	.column2 {
		width: 100%;
		flex-direction: column;
        height: fit-content;
        align-items: center;
	}


    .figure_1 {
		width: 100%;
		height: 150px;
		margin: 20px auto;
		white-space: nowrap;
		font-size: 0.8em;
	}

	.figure_2 {
		width: 100%;
		height: 150px;
		margin: 20px auto;
		white-space: nowrap;
		font-size: 0.8em;
	}

    .img1  {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 75%;
        object-fit: cover;
    }

	.img2 {
		border-radius: 20px 20px 0 0;
        width: 100%;
        height: 75%;
        object-fit: cover;
	}


    .figcaption_activitiy {
		margin: auto 0;
		padding: 5px 10px;
		display: flex;
		padding: 5px 10px;
		margin: auto 0;
		align-items: center;
		min-height: 0;
	}

    /* FOOTER */

    footer {
		display: flex;
		flex-direction: column;
		font-size: 1em;
		width: 85%;
		margin: 20px auto;

	}

    .footer_section {
        width: 85%;
        align-items: center;
        margin: 0;

	}


}
