/*BODY STYLES*/

body {
	font-family: 'Raleway', Comic sans MS, serif;
    font-size: 1em;
    color: black;
    background-color: white;
}

main {
	margin: 0px 50px;
}

/*******************/
/*HEADER STYLES*/
header {
	color: black;
}




/*NAVIGATION MENU*/
.nav {
	display: flex;
	justify-content: space-between;
	padding: auto 15px;
	border-top: 30px;
	align-items: center;
	
}

nav {
	display: flex;
	width: 350px;
	justify-content: space-between;
	
}

.has {
	color: black;
	text-decoration: none;
	padding-top: 30px;
}

.has:hover {
	border-top: solid 3px #0065FC;
	color: #0065FC;
	padding-top: 30px;
}

.has:visited {
	border-top: solid 3px #0065FC;
	padding-top: 30px;
	color: #0065FC;
}

#sinscrire {
	font-weight: bold;
}

.reservia_logo {
	
	height: 75px;
	width: 150px;
	margin-top: 30px;

}

/*RECHERCHE*/
.recherche {
	margin-top: 35px;
}

h1 {
	font-size: 1.3em;
	font-weight: bold
	
}

p {
	font-size: 1em;
}


label {
	display: flex; /* cette ligne fait en sorte que les boites ont la même épaisseur */
  	align-items: center;
  	padding-top: 10px;
  	padding-bottom: 10px;
  	
}

.fa-map-marker {
	text-align: center;
	background-color: #F2F2F2;
	border: solid #F2F2F2;
	border-radius: 10px 0px 0px 10px;
	width: 40px;
	height: 100%;
	padding-top: 10px;
  	padding-bottom: 10px;
  	padding-right: -3px;
	
}

input {
	border-color: #F2F2F2 #0065FC #F2F2F2 white;
	border-style: solid;
	border-width: 3px;
	font-weight: bold;
	color: black;
	padding-top: 10px;
  	padding-bottom: 10px;
}

input:active {
	border-color: #F2F2F2 #0065FC #F2F2F2 white;
	border-style: solid;
	font-weight: bold;
	color: black;
	padding-top: 10px;
  	padding-bottom: 10px;
}

button {
	font-size: 1em;
	color: white;
	font-weight: bold;
	background-color: #0065FC;
	border-color: #0065FC;
	border-radius: 0px 10px 10px 0px;
  	border-style: solid;
  	padding-top: 10px;
  	padding-bottom: 10px;
}


/* FILTRES */

.filtres_media {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.filtres {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 67%;
}

.font {
 
	display: flex;
	flex-direction: row;
	font-weight: bold;
	align-items: baseline;
	position: relative;
}


.logo {
    align-content: center;
    position: absolute;
    justify-content: center;
    bottom: 18px;
    color: #0065FC;
    background-color: #DEEBFF;
    display: flex;
    border-radius: 50%;
    padding: 13px;
    width: 15px;
    height: 15px;
    text-align: center;
}
#border {
  
  border: transparent;
  border-radius: 25px 25px 25px 25px;
  padding: 12.5px;
  justify-content: center;
  
  }

.border {
  border: solid;
  border-color: #F2F2F2 #F2F2F2 #F2F2F2 transparent;
  border-radius: 25px 25px 25px 25px;
  padding: 10px 7px 10px 45px;
  justify-content: center;
  
  }

/*INFO */
i {
		align-items: justify;

}

.info {
	display: flex;
	flex-direction: row;
	margin-top: 35px;
	margin-bottom: 35px;
	justify-content: flex-start;
	align-items: baseline;
	
}

.info-logo {
	border-radius: 50%;
	border: solid #F2F2F2;
	padding: 0;
  	justify-content: center;
	color: #0065FC;
	width: 7px;
	height: 7px;
	

    
}


.fas\ fa-info {
	border-radius: 50%;
	border: solid #F2F2F2;
	padding: 35px;
  	justify-content: center;
	color: #0065FC;
	width: 7px;
	height: 7px;
}

em {
	font-size: 0.8em;
	font-style: normal;
}



/*******************/

/* HEBERGEMENT STYLES*/

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: justify;
    width: 65%;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.title {
	font-weight: bold;
	margin-left: 25px;
	padding-top: 10px;	
}

.flexrow {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* height: fit-content; */
    /* border: solid blue; */
    width: 100%;
    padding: 10px 0px;
}

.second_line {
    display: flex;
    flex-direction: row;
    /* border: solid black; */
    /* justify-content: flex-start; */
    align-items: center;
    margin: auto;
    /* height: 30%; */
}



.mise_en_forme {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    border: solid white 5px;
    border-radius: 20px;
    background-color: white;
    margin: 20px 20px;
    box-shadow: 2px 2px 20px grey;
    align-items: center;
}


.img {
    height: 55%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin: auto;
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* position: relative; */
    /* border: solid green; */
    height: 45%;
    width: 100%;
    position: relative;
    bottom: 25px;
}

.texte_absolute {
	position: absolute;
	border: saddlebrown solid;
}
.texte {
	font-weight: bold;
	padding: 0;
	position: relative;
	bottom: -20px;
}

.stars {
    display: flex;
    flex-direction: row;
    top: -10px;
    color: #0065FC;
    position: relative;
}
.exception {
 	color: #F2F2F2 !important;
}

.affiche:hover {
	text-decoration: underline;
	font-weight: bold;
	margin-left: 25px;
}

.affiche {
	font-weight: bold;
	margin-left: 25px;
}

.popheb {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

/* LES PLUS POPULAIRES STYLES*/
.flex-container_d {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 33%;
}

.fa-chart-line {
	font-size: 25px;
	margin-right: 5px;
	
}
.mise_en_forme_droite {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 85%;
    border: solid white 5px;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    box-shadow: 2px 2px 20px grey;
}

.together {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 25px;
}

.pop {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: space-around;
	height: 90%;
	margin: 20px 10px;
}

.flexright {
	display: flex;
	flex-direction: row;
	border-width: 12px;
	
} /* Aligns the picture and description next to each other in "Les plus populaires" */

.imgd {
	
	height: 140px;
	width: 140px;
	border-radius: 20px 0 0 20px;

} 




.flexcolumn {
	display: flex;
	flex-direction: column;
	margin-left: 15px; 
	
} /* Aligns the description in a column next to the picture in "Les plus populaires" */


	

.rating_d {
	display: flex;
	flex-direction: row;
	margin-top: 15px;	
}

/* ACTIVITES STYLES*/

.container_activity_main {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    
} /*takes into account the div*/

.activity_container_sub{
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;	
}

.row {
    display: flex;
    width: 50%;
    
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    height: 400px;
    align-items: flex-start;
	
}



.fig1 {
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    align-items: left;
    width: 80%;
    height: 100%;
    margin: auto;
	
	flex-direction: column;
}

.fig2 {
    height: 45%;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
   
}

/* padding-left: -75px;
	margin-left: -5px;
	height: 350px;*/

.img1 {
	border-radius: 20px 20px 0 0;
	height: 350px;
	width: 100%;
	object-fit: cover;
}

.img2 {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 65%;
    object-fit: cover;
}


.VP {
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 50px;
    margin: 0px;
    padding: 5px 5px;
}





/* FOOTER STYLES*/

footer {
	font-family: 'Raleway', Comic sans MS, serif;
	font-size: 0.5em;
	color: black;

	background-color: #F2F2F2;
	border-color: #F2F2F2;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 15px;
	margin-top: 70px;
	display: flex; 
	justify-content: space-around;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
}


/*Pour mobiles*/

.header_media {
	display: none;
}

.barre_recherche_media {
	display: none;
}


