.filters {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 67%;
}


.filtering_system {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}


.font {
 
	display: flex;
	flex-direction: row;
	font-weight: bold;
	align-items: baseline;
	position: relative;
}


.logo {
    align-content: center;
    position: absolute;
    justify-content: center;
    bottom: 18px;
    color: #0065FC;
    background-color: #DEEBFF;
    display: flex;
    border-radius: 50%;
    padding: 13px;
    width: 15px;
    height: 15px;
    text-align: center;
}


.border {
    border: solid;
    border-color: #F2F2F2 #F2F2F2 #F2F2F2 transparent;
    border-radius: 25px 25px 25px 25px;
    padding: 10px 7px 10px 45px;
    justify-content: center;
    
    }